@page "/"
@page "/editor"
@inject IJSRuntime JSRuntime


<div class="editor-container">
    <div class="toolbar-container">
        <button class="btn-tool btn btn-primary btn-sm"
                @onclick="AddShelve"> Shelve </button>
    </div>

    <div id="threejscontainer">

    </div>


</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("editor.load");

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task AddShelve()
    {
        await JSRuntime.InvokeVoidAsync("editor.addShelve");
    }
}
