@page "/projects"
@inject NavigationManager navManager
@inject IProjectsRepository projectsRepository

<div class="projects-title">
    <h3>Projects</h3>
</div>
<div class="projects-container">

    @if (projects != null)
    {
        @foreach (var project in projects)
        {
            <div class="project-item"
                 @onclick="() => OpenProject(project.ID)">
                <div class="project-image">
                    <img src="@project.Thumbnail" style="width: 100%;" />
                </div>
                <div class="project-text">
                    @project.Title (#@project.ID)
                </div>
            </div>
        }
    }
</div>

@code {
    private List<Project> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await projectsRepository.GetProjects();
        await base.OnInitializedAsync();
    }

    private void OpenProject(int id)
    {
        if (id == ExampleProject.ExampleProjectID)
            navManager.NavigateTo("editor/example");
        else
            navManager.NavigateTo($"editor/{id}");
    }
}
