.projects-container {
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.projects-title {
    padding: 1rem 1rem 0 1rem;
}

.project-item {
    background: var(--item-background);
    box-shadow: 0 0 10px var(--item-shadow);
    color: transparent;
    margin: 1rem;
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    text-align: center;
}

.project-item:hover {
    background: var(--item-background-hover);
    color: var(--foreground);
}

.project-image {
    width: 100%;
    padding: 0.5rem;
    margin: auto;
}

.project-text {
    position: absolute;
    margin: auto;
}