<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">
        CELLAIO STUDIO
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="editor">
                <div class="nav-icon">
                    <span class="oi oi-grid-three-up" aria-hidden="true"></span>
                    <div class="nav-text">
                        Editor
                    </div>
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="projects">
                <div class="nav-icon">
                    <span class="oi oi-project" aria-hidden="true"></span>
                    <div class="nav-text">
                        Projects
                    </div>
                </div>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
