.navbar {
    padding: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 1rem;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 0.8rem;
    max-width: 131px;
    white-space: unset;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
}

.oi {
    width: 2rem;
    font-size: 1.3rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-icon {
    margin: 0.5rem 0 0.1rem 0;
}

.nav-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin: 0.1rem 0.3rem 1rem 0.3rem;
    overflow: hidden;
}

.nav-item {
    padding: 0;
    width: inherit;
}

    /*    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }*/

    .nav-item ::deep a {
        color: #d7d7d7;
        min-height: 5rem;
        max-height: 7rem;
        display: block;
        align-items: center;
        line-height: 2.2rem;
        text-align: center;
        overflow: hidden;
    }

        .nav-item ::deep a.active {
            background-color: rgba(124, 125, 125, 0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(124, 125, 125, 0.5);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-item {
        max-width: 130px;
    }
}
